{% include "./partials/head.liquid" %}

<body>
    {% include "./partials/header.liquid" %}
    <main>
        <h1>{{ flight.flightName }}</h1>
        <p>This flight is going to {{ flight.route.destinations }}</p>

        <h2>*Airline name*</h2>
        <p></p>
    </main>
    {% include "./partials/footer.liquid" %}
</body>