:root {
  --color-white: #fff;
}

/* airliners */
.KLM {
  --color-1: rgba(0, 160, 228);
}
.TRA {
  --color-1: #00d66c;
}
.VIR {
  --color-1: #db0d37;
}
.DAL {
  --color-1: #da0039;
  --color-2: #003269;
}
.AFR {
  --color-1: #002556;
  --color-2: #ec0000;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(207, 207, 207);

  padding: 1em;
}

li {
  list-style: none;
}

main ul {
  margin: auto;

  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      /* outline: solid 3px black; */
      outline: solid 3px var(--color-1);
    }
  }

  li {
    width: 20em;
    text-align: end;

    &:not(:first-child) {
      margin: 1em 0 0 0;
    }
  }
}

img {
  width: 7em;
}
