<header>
    <nav>
        <ul class='{{ flight.prefixICAO }}'>
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/spacejump3/API-2324" target='_blank'>Github</a></li>
        </ul>
    </nav>
</header>